@using Microsoft.AspNetCore.Identity
@inject SignInManager<Utilizador> SignInManager
@inject UserManager<Utilizador> UserManager

@{
    ViewData["Title"] = "My AirBnB";
}
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
   
   

<!-- Header - set the background image for the header in the line below-->
       <div class="imgLoader"></div>


<div class="container" style="height:50vh;">

  <div class="book">
    <div class="gap"></div>
    <div class="pages">
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
    </div>
    <div class="flips">
      <div class="flip flip1">
        <div class="flip flip2">
          <div class="flip flip3">
            <div class="flip flip4">
              <div class="flip flip5">
                <div class="flip flip6">
                  <div class="flip flip7"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
     <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <!--Visitar Apartamentos-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                                <h2 class="fs-4 fw-bold">Visitar Apartamentos</h2>
                                <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Imovels" asp-action="Index">Visitar</a>
                            </div>
                        </div>
                    </div>
                  <!--Funções Gestor-->
            @if (User.IsInRole("Gestor"))
            {
                 <div class="col-lg-6 col-xxl-4 mb-5">   
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                                <h2 class="fs-4 fw-bold">Gerir Funcionários</h2>
                                <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Funcionarios" asp-action="Index">Visitar</a>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-6 col-xxl-4 mb-5">   
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                                <h2 class="fs-4 fw-bold">Gerir Reservas</h2>
                                <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Reservas" asp-action="Index">Visitar</a>
                            </div>
                        </div>
                </div>
            }

            @if (User.IsInRole("Funcionario"))
            {
                <div class="col-lg-6 col-xxl-4 mb-5">   
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                                <h2 class="fs-4 fw-bold">Gerir Reservas</h2>
                                <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Reservas" asp-action="Index">Visitar</a>
                            </div>
                        </div>
                </div>
            }   
            @if (User.IsInRole("Admin"))
            {
                <div class="col-lg-6 col-xxl-4 mb-5">   
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                                <h2 class="fs-4 fw-bold">Gerir Proprietários</h2>
                                <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Gestors" asp-action="Index">Visitar</a>
                            </div>
                        </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">   
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                                <h2 class="fs-4 fw-bold">Gerir Clientes</h2>
                                <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Clientes" asp-action="Index">Visitar</a>
                            </div>
                        </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">   
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                                <h2 class="fs-4 fw-bold">Gerir Categorias</h2>
                                <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Categorias" asp-action="Index">Visitar</a>
                            </div>
                        </div>
                </div>
                 <div class="col-lg-6 col-xxl-4 mb-5">   
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                                <h2 class="fs-4 fw-bold">Gerir Funcionários</h2>
                                <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Funcionarios" asp-action="Index">Visitar</a>
                            </div>
                        </div>
                </div>
            }   

                </div>
            </div>
        </section>
</div>



 <!-- Header-->
 <!--
<header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">My AirBnB</h1>
                        <p class="fs-4">Bem-Vindo ao projeto de PWEB MyAirBnB</p>
                        @if (SignInManager.IsSignedIn(User))
                       {
                           <p class="mb-0">Bem-vindo @User.Identity.Name !</p>
                       }else{
                           <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Login">Login</a>
                       }
                    </div>
                </div>
            </div>
        </header>
 -->
        

       
